<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="FaktaSehat - Team" />

    <!-- ========== Page Title ========== -->
    <title>FaktaSehat - Team</title>

    <!-- ========== Favicon Icon ========== -->
    <link
      rel="shortcut icon"
      href="assets/img/favicon.png"
      type="image/x-icon"
    />

    <!-- ========== Start Stylesheet ========== -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="assets/css/themify-icons.css" rel="stylesheet" />
    <link href="assets/css/flaticon-set.css" rel="stylesheet" />
    <link href="assets/css/magnific-popup.css" rel="stylesheet" />
    <link href="assets/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="assets/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="assets/css/animate.css" rel="stylesheet" />
    <link href="assets/css/bootsnav.css" rel="stylesheet" />
    <link href="assets/style.css" rel="stylesheet" />
    <link href="assets/css/responsive.css" rel="stylesheet" />
    <!-- ========== End Stylesheet ========== -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5/html5shiv.min.js"></script>
      <script src="assets/js/html5/respond.min.js"></script>
    <![endif]-->

    <!-- ========== Google Fonts ========== -->
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700;800&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- Preloader Start -->
    <div class="se-pre-con"></div>
    <!-- Preloader Ends -->

    <!-- Start Header Top 
    ============================================= -->
    <%- include('partials/_head') %>
    <!-- End Header -->

    <!-- Start Breadcrumb 
    ============================================= -->
    <!-- End Breadcrumb -->

    <!-- Star Doctors Area
    ============================================= -->
    <div class="doctors-area default-padding bottom-less">
      <div class="container">
        <div class="row align-center">
          <div class="col-lg-8 offset-lg-2">
            <div class="site-heading text-center">
              <h4>Team</h4>
              <h2>Team Kami</h2>
            </div>
          </div>
        </div>
        <div class="doctor-items text-center ">
          <div class="row align-center" style="display: flex; justify-content: center; align-items: center;">
            <!-- Single Item -->
            <div class="col-lg-4 col-md-6 single-item">
              <div class="item">
                <div class="thumb">
                  <img src="assets/img/doctor/dr1.png" alt="Thumb" />
                  
                </div>
                <div class="info">
                  <h4>dr. Ni Nyoman Sri Okawati</h4>
                  
                </div>
              </div>
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="col-lg-4 col-md-6 single-item">
              <div class="item">
                <div class="thumb">
                  <img src="assets/img/doctor/dr2.png" alt="Thumb" />
                  
                </div>
                <div class="info">
                  <h4>dr. Ni Wayan Ari Susanti</h4>
                  
                </div>
              </div>
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            
            <!-- End Single Item -->
          </div>
          <div class="row" style="display: flex; justify-content: center; align-items: center;">
            <!-- Single Item -->
            <div class="col-lg-4 col-md-6 single-item">
              <div class="item">
                <div class="thumb">
                  <img src="assets/img/doctor/S.Ked1.png" alt="Thumb" />
                  
                </div>
                <div class="info">
                  <h4>I Gede Aswin Parisya Sasmana, S.Ked</h4>
                  
                </div>
              </div>
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="col-lg-4 col-md-6 single-item">
              <div class="item">
                <div class="thumb">
                  <img src="assets/img/doctor/S.Ked2.png" alt="Thumb" />
                 
                </div>
                <div class="info">
                  <h4>I Wayan Ananda Adi Wirottama, S.Ked</h4>
                  
                </div>
              </div>
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            
            <!-- End Single Item -->
          </div>
          <div class="row" style="display: flex; justify-content: center; align-items: center;">
            <!-- Single Item -->
            <div class="col-lg-4 col-md-6 single-item">
              <div class="item">
                <div class="thumb">
                  <img src="assets/img/doctor/1.png" alt="Thumb" />
                 
                </div>
                <div class="info">
                  <h4>I Made Suputra Dwipayaha</h4>
                  
                </div>
              </div>
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="col-lg-4 col-md-6 single-item">
              <div class="item">
                <div class="thumb">
                  <img src="assets/img/doctor/2.png" alt="Thumb" />
                  
                </div>
                <div class="info">
                  <h4>Evelyn Wijaya</h4>
                  
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 single-item">
              <div class="item">
                <div class="thumb">
                  <img src="assets/img/doctor/3.png" alt="Thumb" />
                  
                </div>
                <div class="info">
                  <h4>Hugo Jared Suyanto</h4>
                  
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 single-item">
              <div class="item">
                <div class="thumb">
                  <img src="assets/img/doctor/4.png" alt="Thumb" />
                  
                </div>
                <div class="info">
                  <h4>I Made Surya Niryana Pasek</h4>
                  
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 single-item">
              <div class="item">
                <div class="thumb">
                  <img src="assets/img/doctor/5.png" alt="Thumb" />
                  
                </div>
                <div class="info">
                  <h4>I Nyoman Teja Sentosa</h4>
                  
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 single-item">
              <div class="item">
                <div class="thumb">
                  <img src="assets/img/doctor/6.png" alt="Thumb" />
                  
                </div>
                <div class="info">
                  <h4>Ni Putu Pande Indi Arthari</h4>
                  
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 single-item">
              <div class="item">
                <div class="thumb">
                  <img src="assets/img/doctor/7.png" alt="Thumb" />
                  
                </div>
                <div class="info">
                  <h4>Stella Kristin Roulina Panggabean</h4>
                  
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 single-item">
              <div class="item">
                <div class="thumb">
                  <img src="assets/img/doctor/8.png" alt="Thumb" />
                  
                </div>
                <div class="info">
                  <h4>Davin Siva</h4>
                  
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 single-item">
              <div class="item">
                <div class="thumb">
                  <img src="assets/img/doctor/9.png" alt="Thumb" />
                  
                </div>
                <div class="info">
                  <h4>Desyana Restu Anyssa</h4>
                  
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 single-item">
              <div class="item">
                <div class="thumb">
                  <img src="assets/img/doctor/10.png" alt="Thumb" />
                  
                </div>
                <div class="info">
                  <h4>Aurel Imanuela Christanty</h4>
                  
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 single-item">
              <div class="item">
                <div class="thumb">
                  <img src="assets/img/doctor/11.png" alt="Thumb" />
                  
                </div>
                <div class="info">
                  <h4>Dyadinda Christabhita Bangun</h4>
                  
                </div>
              </div>
            </div>
            
            <!-- End Single Item -->
            <!-- Single Item -->
            
            <!-- End Single Item -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Doctors Area -->

    <!-- Star Footer
    ============================================= -->
    <%- include('partials/_footer') %>
    <!-- End Footer-->

    <!-- jQuery Frameworks
    ============================================= -->
    <script src="assets/js/jquery-1.12.4.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/equal-height.min.js"></script>
    <script src="assets/js/jquery.appear.js"></script>
    <script src="assets/js/jquery.easing.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/modernizr.custom.13711.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/progress-bar.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/count-to.js"></script>
    <script src="assets/js/YTPlayer.min.js"></script>
    <script src="assets/js/circle-progress.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/bootsnav.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
